.container {
    background-color: coral;
    padding: 50px;
    margin: 15px;
    margin-left: 75px;
    margin-top: 50px;
    height: 90%;
    width: 40%;
    text-align: left;
    text-size-adjust: auto;
}

body {
    background-image: url(Images/MarshLucky.jpg);
    background-repeat: no-repeat;
    background-size: 100% 120%;
}